<div class="w-50 p-3 m-auto text-center">
    <h3 class="display-5 p-3 mb-2 bg-secondary">
      Project : <%= project.name %>
    </h3>
    <h4 class="display-6 p-3 mb-2">
      Author : <%= project.author %>
    </h4>
    <h5 class="display-6 p-3 mb-2">
      Description : <%= project.description %>
    </h5>
  </div>
  <%-include('./partials/_issues'); %>
  